body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}



.grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 10px auto auto auto auto auto;
    grid-template-areas: 
    "header header header header header header header"
    "banner banner banner banner banner banner banner"
    "menu menu menu menu menu menu menu"
    "cadastro cadastro cadastro cadastro cadastro cadastro cadastro"
    "social social social social social social social"
    "footer footer footer footer footer footer footer";
}

/* HEADER */

header{
    background-color:#00F260;
    grid-area: header;
    display: flex;
}

/* /////////////////////////////////////////////////////////////////// */
/* BANNER */

.banner{
    grid-area: banner;
    background: url(banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 505px;
    padding: 0 230px;
   }
   
.box-banner{
    width: 50%;
    height: 100%;
}

h1{
    color: white;
    font-size: 90px;
    font-family: 'Pacifico', cursive;
    margin: 0;
}

h1 span{
    color:#00F260;
    margin: 0;
}

.box-banner h3{
    color: white;
}

.icones-banner img {
    padding: 15px;
    border-radius: 50%;
}

.icones-banner img:hover{
    background-color: #00F260; 
}
   
.box-banner2 img{
    background: url(hand.png);
}
   

/* MAIN */
/*/////////////////////////////////////////////////////////////////*/

main{
    display: flex;
    width: 100vw;
}

.imagem-menu{
    background-color: #00F260;
    padding: 20px;
    border-radius: 50%;
}

.principal section{
    margin: 50px;
    position: relative;
    padding: 5px;
}



.imagem-menu:hover{
    background-color: lightgray;
}

.menu{
    grid-area: menu;
    display: flex;
}

/* CAD */
/*///////////////////////////////////////////////////////////////////*/

.cadastro{
    background-color: lightgray;
    grid-area: cadastro;
    display: flex;
}

.cadastro span{
    width: 40%;
    padding: 3%;
}

.cadastro div{
    display: flex;
    margin: 0;
    height: 55px;
    width: 500px;
}

input{
    border: 1px;
    border-color: darkgray;
    border-radius: 15px 0 0 15px;
    height: auto;
    width: 60%;
}

button{
    background-color: #00F260;
    border: 1px;
    border-color: rgb(0, 136, 55);
    color: white;
    border-radius: 0 15px 15px 0;
    font-size: 13pt;
    height: auto;
    width: 40%;
}

iframe{
    justify-items: end;
}


/* SOCIAL */
/*///////////////////////////////////////////////////////////////////*/

.citacao{
    width: 70%;
    margin: 20;
    display: flex;

}
.social{
    grid-area: social;
    text-align: center;
}

.social img{
    justify-items: center;
    text-align: center;
}


/* FOOTER */
/*///////////////////////////////////////////////////////////////////*/

footer{
    background-color: lightgray;
    grid-area: footer;
    height: 300px;
    width: 100%;
    letter-spacing: 3px;
    text-align: center;
}

footer a{
    color: dimgray;
    text-decoration: none;
    justify-items: center;
    align-items: center;

}

footer a:hover{
    color: #00F260;
}