body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  
    /* overflow-x: hidden; */
}

.grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 10px auto auto auto auto auto;
    grid-template-areas: 
    "header header header header header header header"
    "banner banner banner banner banner banner banner"
    "menu menu menu menu menu menu menu"
    "cadastro cadastro cadastro cadastro cadastro cadastro cadastro"
    "social social social social social social social"
    "footer footer footer footer footer footer footer";
}

/* HEADER */

header{
    background-color:#00F260;
    grid-area: header;
    display: flex;
}

/* /////////////////////////////////////////////////////////////////// */
/* BANNER */

.banner{
    grid-area: banner;
    background: url(banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 505px;
    padding: 0 230px;
   }
   
.box-banner{
    width: 50%;
    height: 100%;
}

.banner .box1{
    margin: 50px;
    padding: 20px;
}

h1{
    color: white;
    font-size: 60px;
    font-family: 'Pacifico', cursive;
    margin: 0;
}

h1 span{
    color:#00F260;
    margin: 0;
}

.box-banner h3{
    color: white;
}

.icones-banner img {
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(60, 60, 60);
    opacity: 0.6%;
}

.icones-banner img:hover{
    background-color: #00F260; 
}

.box-banner2 img{
    margin: 85px 90px;
    height: 420px;
}
   

/* MAIN */
/*/////////////////////////////////////////////////////////////////*/

main{
    display: flex;
    width: 98vw;

}

.imagem-menu{
    background-color: #00F260;
    cursor: pointer;
    padding: 20px;
    border-radius: 50%;
}

.principal section{
    margin: 35px;
    position: relative;
    padding: 30px;
    align-content: center;
    justify-content: center;
}


.imagem-menu:hover{
    background-color: lightgray;
}

.menu{
    grid-area: menu;
    display: flex;
}

.principal p{
    color: rgb(60, 60, 60);
    display: flex;
    margin: 10px;
    justify-content: center;

}

.principal .icone1{
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.principal .icone2{
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.principal .icone3{
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
/* CAD */
/*///////////////////////////////////////////////////////////////////*/

.cadastro{
    background-color: lightgray;
    grid-area: cadastro;
    display: flex;
}

.cadastro p{
    color: rgb(60, 60, 60);
}

.cadastro span{
    width: 38%;
    padding: 3%;
    margin: 0 80px;
}

.cadastro div{
    display: flex;
    margin: 0;
    height: 55px;
    width: 500px;
}

input{
    border: 1px;
    border-color: darkgray;
    border-radius: 15px 0 0 15px;
    font-size: 12pt;
    height: auto;
    width: 60%;
    text-align: center;
}

button{
    background-color: #00F260;
    border: 1px;
    border-color: rgb(0, 136, 55);
    color: white;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
    font-size: 18pt;
    height: auto;
    width: 40%;
}

button:hover{
    background-color: rgb(60, 60, 60);
    color: #00F260;
}

iframe{
    justify-items: end;
}


/* SOCIAL */
/*///////////////////////////////////////////////////////////////////*/

.citacao{
    width: 70%;
    margin: 20px 200px;
    display: flex;
    text-align: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.citacao p{
    color: darkgray;
}

.social{
    grid-area: social;
    text-align: center;
}

.social img{
    justify-items: center;
}

.container-overlays{
    display: flex;
    justify-content: center;
}

.overlay{
    margin: 2px;
    display: flex;
    height: 50px;
    width: 50px;
    z-index: 2;
    background-color: #00F260;
}

.overlay img{
    
    position: relative;
    z-index: 1;
}

.overlay img:hover{
    cursor: pointer;
    opacity: 0.5;
}


.icons img{
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    background-color: lightgray;
    opacity: 0.5%;
    height: 30px;
    margin: 20px 0;
}

.icons img:hover{
    background-color: #00F260; 
}

/* FOOTER */
/*///////////////////////////////////////////////////////////////////*/

footer{
    background-color: lightgray;
    grid-area: footer;
    height: 100px;
    width: 100%;
    letter-spacing: 3px;
    text-align: center;
}

footer div{
    color: dimgray;
    margin: 40px;
    
}

footer div a{
    text-decoration: none;
    color: rgb(60, 60, 60);

}

footer a:hover{
    color: #00F260;
}